<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="cordova-plugin-popup"
        version="1.0.0">

  <name>popup</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <js-module src="www/popup.js" name="popup">
     <clobbers target="popup" />
  </js-module>

  <platform name="android">

   
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="popup">
        <param name="android-package" value="de.popup.test.popup"/>
      </feature>
	  	
    </config-file>
	<config-file target="AndroidManifest.xml" parent="/*">
		<uses-permission android:name="android.permission.VIBRATE"/>
	</config-file>

    <source-file src="src/android/popup.java" target-dir="src/de/popup/test"/>

  </platform>


</plugin>